{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">

	<form method="POST">
		<button name="categorie" class="btn" value="angry">Angry</button>
		<button name="categorie" class="btn" value="desperate">Desperate</button>
		<button name="categorie" class="btn" value="happy">Happy</button>
		<button name="categorie" class="btn" value="loving">Loving</button>
		<button name="categorie" class="btn" value="out">Out</button>
		<button name="categorie" class="btn" value="sad">Sad</button>
		<button name="categorie" class="btn" value="scared">Scared</button>
		<button name="categorie" class="btn" value="shocked">Shocked</button>
		<button name="categorie" class="btn" value="tired">Tired</button>
	</form>
</div>
<div class="row justify-content-center" id="allcontent">
{% for image in data %}

<a href="{{baseUrl('image/')}}{{image.filename}}"><img style='height: 150px; width: 150px'; src="{{baseUrl('assets/img/')}}{{ image.filename }}" alt=""></a>

{% endfor %}
</div>
{% endblock %}