{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">

	<form method="POST">
		<button name="categorie" class="btn" value="angry">Angry</button>
		<button name="categorie" class="btn" value="desperate">Desperate</button>
		<button name="categorie" class="btn" value="happy">Happy</button>
		<button name="categorie" class="btn" value="loving">Loving</button>
		<button name="categorie" class="btn" value="out">Out</button>
		<button name="categorie" class="btn" value="sad">Sad</button>
		<button name="categorie" class="btn" value="scared">Scared</button>
		<button name="categorie" class="btn" value="shocked">Shocked</button>
		<button name="categorie" class="btn" value="tired">Tired</button>
	</form>
</div>
<div class="row">
    <div class="card-columns">
        {% for image in data %}

        <div class="card">
            <a href="{{baseUrl('image/')}}{{image.filename}}"><img class="card-img-top img-fluid" src="{{ baseUrl('assets/img/') }}{{ image.filename }}"></a>
        </div>   

        {% endfor %}
    </div>
</div>
{% endblock %}





