
body{
   background-color: #bab8ba;
   background-image: url("https://transparenttextures.com/patterns/diagmonds.png");
   margin-top: 2%;
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    font-family: 'BioRhyme Expanded', serif;
}

.logoHeader{
    height: 100px;
    width: 200px;
}

.row{
    margin-top: 2%;
}
#containerImg {
    position: relative;
    display: inline-block;
}

#containerImg p {
    color: white;
    
    position: absolute;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#containerImg p.haut {
    top: 0px;
    font-family: 'Anton', 'Impact' sans-serif;
}

#containerImg p.bas {
    bottom: -20px;
    font-family: 'Anton', 'Impact' sans-serif;
}
.test{
    border: 1px solid white;
}

li{
    list-style-type:none;
    display:inline-block;
}
input[type=color].form-control {
    padding: 0px;
}

.footer{
    height: 50px;
    display: flex;
    justify-content:center;
    font-family: 'BioRhyme Expanded', serif;  
    background-color: grey;
    box-shadow: 0px 3px 6px black inset;
}
 #allcontent{
     height: 35em;
 }

.footer p {
    padding-top: 1%;
}

.logoFooter{
    height: 40px;
    width: 30px;
    padding-top: 25%;
}

@media (min-width:576px) {
  .card-columns {
    column-count: 2;
}
}
@media (min-width:768px) {
  .card-columns {
    column-count: 3;
}
}
@media (min-width:992px) {
  .card-columns {
    column-count: 4;
}
}
@media (min-width:1200px) {
  .card-columns {
    column-count: 5;
}
}

@media (max-width: 480px) {

    .header{
        height: 50%;
        display: flex;
        justify-content: space-around;
        font-family: 'BioRhyme Expanded', serif;
    }
    h1{
        font-size:75%;
    }
    .logoHeader{
        height: 50%;
        width: 25%;
    }
    .btn{
        font-size: 75%;
        font-family: 'BioRhyme Expanded', serif;
        padding-left: 20px;

    }
    
    .footer{
        height: 3%;
        display: flex;
        justify-content: space-around;
        font-family: 'BioRhyme Expanded', serif;
    }

    p{
        font-size: 50%;
    }

}
.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
    display:block;
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
